@import "nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap");

body {
	font-family: "Fira Sans", sans-serif;
	font-size: 16px;
	height: 100%;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1210px;
	padding: 0 15px;
	margin: 0 auto;
}

// ------------------------------------------

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	color: #fff;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}
.header__row {
	display: flex;
	justify-content: space-between;
}
.header__logo {
	margin: 0px 30px 0px 0px;
	position: relative;
	z-index: 3;
	@media (max-width: 576px) {
		margin: 0px 10px 0px 0px;
	}
}
.header__body {
	padding: 25px 0;
}
.header__contacts {
	display: flex;
	margin: 0px 0px 16px 0px;
	justify-content: flex-end;
	align-items: center;
	@media (max-width: 576px) {
		justify-content: flex-start;
	}
}
.header__whatsapp {
	margin: 0px 35px 0px 0px;
	@media (max-width: 756px) {
		margin: 0px 15px 0px 0px;
	}
	@media (max-width: 576px) {
		display: none;
	}
}
.header__call {
	position: relative;
	z-index: 3;
	@media (max-width: 768px) {
		margin: 0px 15px 0px 0px;
	}
}

.call {
	display: flex;
	border: 1px solid #dba069;
	padding: 10px 20px;
	border-radius: 5px;
	@media (max-width: 756px) {
		padding: 5px 10px;
	}
	@media (max-width: 576px) {
		padding: 5px 2px 5px 2px;
	}
}
.call__icon {
	margin: 0px 10px 0px 0px;
	@media (max-width: 500px) {
		display: none;
	}
}
.call__number {
	font-size: 20px;
	line-height: calc(24 / 20 * 100%);
	letter-spacing: 0.04em;
	@media (max-width: 756px) {
		font-size: 16px;
	}
}
.header__burger {
	display: none;
}
.header__menu {
}

.menu {
}
.menu__list {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	& > *:not(:last-child) {
		margin: 0px 50px 0px 0px;
	}

	li {
		line-height: calc(19 / 16 * 100%);
	}

	@media (max-width: 992px) {
		& > *:not(:last-child) {
			margin: 0px 50px 30px 0px;
		}
		font-size: 20px;
	}
}
.menu__link_bd {
	border-bottom: 4px solid #dba069;
	padding: 0px 0px 3px 0px;
}
.menu__item {
}
.menu__link {
	color: inherit;
}

// -------------------------------------------------

@media (max-width: 768px) {
	.header__logo {
		padding: 5px 0px 5px 0px;
	}

	body.lock {
		overflow: hidden;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
		padding: 0px 0px 0px 0px;
		&::before,
		&::after {
			content: "";
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0px;
			transition: all 0.3s ease 0s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}

		span {
			position: absolute;
			background-color: #fff;
			left: 0px;
			width: 100%;
			height: 2px;
			top: 9px;
			transition: all 0.3s ease 0s;
		}
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #842231;
		padding: 135px 10px 20px 30px;
		transition: all 0.5s ease 0s;
	}
	.header__menu.active {
		top: 0;
		transition: all 0.3s ease 0s;
	}
	.header__body {
		padding: 10px 0;
	}
	.header__logo {
		img {
			max-width: 100%;
			display: block;
		}
		flex: 0 0 100px;
	}
	.menu__list {
		display: block;
		& > *:not(:last-child) {
			margin: 0px 0px 25px 0px;
		}
	}
	.header {
		position: fixed;

		&::before {
			background-color: #842231;
		}
	}
	.header__burger.active::before {
		top: 9px;
		transform: rotate(45deg);
	}
	.header__burger.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__burger.active span {
		transform: scale(0);
	}
}

// -------------------------------------------------

//----------------------------------
.page {
	flex: 1 1 auto;
}

// ---------------------------------------------------

.mainblock {
	background: url(../img/firstscreen/bg.jpg) 0 0 / 100% 100% no-repeat;
	@media (min-width: 993px) {
		background: url(../img/firstscreen/symbol3.png) 100% 100% / 436px 484px no-repeat,
			url(../img/firstscreen/bg.jpg) 0 0 / 100% 100% no-repeat;
	}
	min-height: 100vh;
	display: flex;
	padding: 252px 0px 141px 0px;
	color: #fff;
	@media (max-width: 992px) {
		background-size: cover;
	}
	@media (max-width: 768px) {
		padding: 120px 0px 70px 0px;
	}
	@media (max-width: 768px) and (min-height: 600px) {
		min-height: 65vh;
	}
	@media (min-height: 1000px) {
		min-height: 65vh;
	}
}

.mainblock__body {
	display: flex;
	@media (max-width: 576px) {
		flex-wrap: wrap;
	}
}
.mainblock__info {
	flex: 1 0 70%;
	margin: 0px 28px 0px 0px;
	@media (max-width: 768px) {
		flex: 1 0 60%;
	}
	@media (max-width: 576px) {
		flex: 1 1 100%;
		margin: 0;
	}
}
.mainblock__title {
	font-weight: 700;
	font-size: 38px;
	line-height: 140%;
	margin: 0px 0px 40px 0px;
	@media (max-width: 992px) {
		font-size: 32px;
	}
	@media (max-width: 768px) {
		font-size: 26px;
	}
}
.mainblock__link {
	display: inline-block;
	color: inherit;
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
	color: #333333;
	background: #dba069;
	padding: 20px 30px;
	margin: 0px 0px 60px 0px;
	transition: all 0.5s ease 0s;
	&:hover {
		transition: all 0.5s ease 0s;
		background: #842231;
		color: #fff;
	}
	@media (max-width: 768px) {
		padding: 15px 20px;
		font-size: 14px;
		margin: 0px 0px 35px 0px;
	}
}
.mainblock__subtitle {
	font-weight: 700;
	font-size: 32px;
	line-height: calc(38 / 32 * 100%);
	margin: 0px 0px 20px 0px;
	@media (max-width: 768px) {
		font-size: 26px;
	}
}
.mainblock__wrapper {
	display: flex;

	& > *:not(:last-child) {
		margin: 0px 26px 0px 0px;
	}
}

.mainblock__text {
	display: flex;
	max-width: 200px;
	@media (max-width: 768px) {
		margin: 0px 0px 30px 0px;
	}
}
.mainblock__num {
	font-size: 128px;
	line-height: 83.7%;
	margin: 0px 20px 0px 0px;
	@media (max-width: 768px) {
		font-size: 60px;
	}
}
.mainblock__txt {
	font-size: 20px;
	line-height: 140%;
	@media (max-width: 768px) {
		font-size: 16px;
	}
}

.mainblock__time {
	padding: 15px 0px 0px 0px;
	& > *:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
	p {
		font-weight: 700;
		font-size: 16px;
		line-height: calc(19 / 16 * 100%);
	}
}

// ------------------------------------------

.project {
	@media (min-width: 993px) {
		background: url(../img/bg_phone.png) 100% 60% no-repeat, url(../img/bg__phone2.png) 96% 40% no-repeat;
	}

	color: #333333;
	padding: 103px 0px 51px 0px;
	@media (max-width: 992px) {
		padding: 60px 0px 25px 0px;
	}
}
.slogan {
	font-weight: 300;
	font-size: 20px;
	line-height: 110%;
}
.caption {
	font-weight: 700;
	font-size: 20px;
	line-height: calc(24 / 20 * 100%);
}
.title {
	font-weight: 700;
	font-size: 48px;
	line-height: calc(58 / 48 * 100%);
}
.project__subject {
	margin: 0px 0px 0px 130px;
	position: absolute;
	z-index: -2;
	font-weight: bold;
	font-size: 287px;
	line-height: calc(312 / 287 * 100%);
	color: #333333;
	opacity: 0.05;
	@media (max-width: 1290px) {
		font-size: 200px;
	}
	@media (max-width: 1100px) {
		font-size: 160px;
	}
	@media (max-width: 992px) {
		font-size: 130px;
		margin: 0px 0px 0px 70px;
	}
	@media (max-width: 768px) {
		font-size: 100px;
	}
	@media (max-width: 576px) {
		font-size: 60px;
		margin: 0px 0px 0px 20px;
	}
}

// -------------------------------

.project__body {
	display: flex;
	@media (max-width: 992px) {
		flex-wrap: wrap;
	}
}
.project__about {
	margin: 0px 58px 0px 0px;
	@media (max-width: 992px) {
		margin: 0;
	}
}
.project__title {
	margin: 0px 0px 60px 0px;
	@media (max-width: 768px) {
		margin: 0px 0px 35px 0px;
		font-size: 32px;
	}
}
.project__text {
	margin: 0px 0px 25px 0px;
}
.project__cottage {
	margin: 0px 0px 60px 0px;
}

.cottage__title {
}

.cottage__text {
}
.project__company {
	margin: 0px 0px 60px 0px;
	padding: 0px 40px 0px 0px;
	@media (max-width: 992px) {
		padding: 0;
	}
}
.company__title {
	margin: 0px 0px 20px 0px;
}
.company__text {
}

.project__mission {
	padding: 0px 40px 0px 0px;
	@media (max-width: 992px) {
		padding: 0;
	}
}
.mission__title {
	margin: 0px 0px 20px 0px;
}
.mission__text {
}

.project__image {
	margin: 64px 0px 0px 0px;
	@media (max-width: 992px) {
		display: flex;
		flex-direction: column;
	}
}
.project__img {
	margin: 0px 0px 143px 0px;
	max-width: 484px;
	@media (min-width: 993px) {
		background: url(../img/Rectangle.jpg) 100% 100% no-repeat;
		padding: 0px 42px 33px 0px;
	}
	@media (max-width: 992px) {
		margin: 0px 0px 50px 0px;
		img {
			max-width: 100%;
		}
		align-self: center;
		border: 5px solid #842231;
	}
}
.project__aim {
}
.aim {
}
.aim__title {
	margin: 0px 0px 20px 0px;
}
.aim__text {
}

//------------------------------------------------------------

.slider {
}
.cottagess {
	padding: 39px 0px 74px 0px;
	background: rgba(132, 34, 49, 0.05);
}

.slider__title {
	margin: 0px 0px 28px 0px;
	text-align: center;
}

.slider__body {
	display: flex;
	justify-content: center;
	@media (max-width: 992px) {
		flex-wrap: wrap;
	}
}
.slider__image {
	max-width: 692px;

	img {
		width: 100%;
	}
}
.slider__architect {
	margin: 0px 0px 0px 68px;
	@media (max-width: 992px) {
		margin: 30px 0px 0px 0px;
	}
}
.slider__text {
	margin: 0px 0px 10px 0px;
	font-weight: bold;
	font-size: 32px;
	line-height: 140%;
	color: #333333;
	@media (max-width: 992px) {
		text-align: center;
	}
}
.slider__scheme {
	max-width: 300px;
	img {
		max-width: 100%;
	}
}
.slick-track {
	display: flex;
}

//--------------------------------
.slider {
	position: relative;

	.slick-arrow {
		position: absolute;
		top: 50%;
		margin: -40px 0px 0px 0px;
		z-index: 10;
		font-size: 0;
		width: 50px;
		height: 80px;
	}
	.slick-arrow.slick-prev {
		left: 15px;
		background: url(../img/slider/previous-svgrepo-com.svg) 0 0 / 100% no-repeat;
	}
	.slick-arrow.slick-next {
		right: 15px;
		background: url(../img/slider/next-svgrepo.svg) 0 0 / 100% no-repeat;
	}
}

.slider__body {
}

// --------------------------------------------------------

.location {
	padding: 96px 0px 71px 0px;
	@media (min-width: 993px) {
		background: url(../img/location/right.png) 100% 90% no-repeat, url(../img/location/center.png) 92% 90% no-repeat,
			url(../img/location/left_bottom.png) left 300% no-repeat;
	}
}

.location__row {
	display: flex;
	@media (max-width: 768px) {
		flex-wrap: wrap;
	}
}
.location__body {
	padding: 92px 0px 0px 0px;
	margin: 0px 119px 0px 0px;
	@media (max-width: 1100px) {
		margin: 0px 0px 50px 0px;
		padding: 60px 0px 0px 0px;
	}
	@media (max-width: 992px) {
		padding: 0px 0px 0px 0px;
	}
}
.location__title {
	margin: 0px 0px 48px 0px;
}
.location__text {
	font-weight: 300;
	font-size: 20px;
	line-height: 110%;
	max-width: 480px;
	@media (max-width: 992px) {
		font-size: 16px;
	}
	@media (max-width: 768px) {
		font-size: 20px;
		max-width: 100%;
	}
	& > *:not(:last-child) {
		margin: 0px 0px 25px 0px;
	}
}
.location__image {
	@media (min-width: 993px) {
		background: url(../img/location/Rectangl.png) 100% 100% no-repeat;
		padding: 0px 42px 33px 0px;
	}
	@media (max-width: 992px) {
		margin: 0px 0px 50px 0px;
		img {
			max-width: 100%;
		}
	}
	@media (max-width: 992px) {
		display: inline-block;
		margin: 0 auto;
	}
}

//------------------------------------------------------------

.advantages {
	margin: 0 auto;
	background: url(../img/advantages/bg.jpg) left top/auto 100% no-repeat;
	@media (min-width: 992px) {
		background: url(../img/advantages/symbol.png) left bottom no-repeat,
			url(../img/advantages/bg.jpg) left top/auto 100% no-repeat;
	}
}
.advantages__container {
	max-width: 930px;
	padding: 0 15px;
	margin: 0 auto;
}
.advantages__title {
	max-width: 624px;
	margin: 0px 0px 40px 0px;
	@media (max-width: 576px) {
		font-size: 36px;
	}
}

.advantages__body {
	display: flex;
	margin: 0 -30px;
	@media (max-width: 992px) {
		flex-wrap: wrap;
	}
}
.advantages__1 {
	padding: 0 30px;
	max-width: 402px;
	display: flex;
	margin: 0px 0px 40px 0px;
	@media (max-width: 804px) {
		max-width: 100%;
	}
}

.advantages__2 {
	padding: 0 30px;
	max-width: 402px;
	display: flex;
	margin: 0px 0px 40px 0px;
	@media (max-width: 804px) {
		max-width: 100%;
	}
}
.advantages__icon {
	margin: 0px 15px 0px 0px;
}
.advantages__text {
	align-self: center;
	font-weight: 300;
	font-size: 20px;
	line-height: 110%;
}

.advantages__image {
	margin: 0px 0px 57px 0px;

	@media (max-width: 992px) {
		img {
			max-width: 100%;
		}
	}
}

.advantages__3 {
	display: flex;
}

// --------------------------------

.why {
	padding: 114px 0px 71px 0px;
}
.why__nura {
	font-size: 200px;
	@media (max-width: 992px) {
		font-size: 110px;
	}
	@media (max-width: 576px) {
		font-size: 60px;
	}
}
.why__label {
	margin: 0px 0px 99px 0px;
	@media (max-width: 992px) {
		margin: 0px 0px 40px 0px;
	}
}

.why__row {
	display: flex;
	@media (max-width: 992px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.why__image {
	margin: 0px 40px 0px 0px;

	@media (max-width: 992px) {
		margin: 0px 0px 40px 0px;
		img {
			max-width: 100%;
		}
	}
}
.why__body {
	display: flex;
	margin: 0 -20px;
	flex-wrap: wrap;
	padding: 25px 0px 0px 0px;
}

.why__columnn {
	padding: 0 20px;
	flex: 0 1 50%;
	margin: 0px 0px 40px 0px;
	@media (max-width: 768px) {
		flex: 0 1 100%;
	}
}
.why__item {
}
.item {
}
.item__row {
	display: flex;
}
.item__image {
	flex: 0 0 56px;
	margin: 0px 15px 0px 0px;
	img {
		max-width: 100%;
	}
}
.item__body {
	flex: 1 1 auto;
}
.item__title {
	font-weight: 700;
	font-size: 20px;
	line-height: calc(24 / 20 * 100%);
	margin: 0px 0px 12px 0px;
}
.item__text {
	font-weight: 300;
	font-size: 18px;
	line-height: 110%;
	p {
		margin: 0px 0px 15px 0px;
	}
}

// ----------------------------------------

.technology {
	padding: 161px 0px 80px 0px;
	@media (max-width: 992px) {
		padding: 40px 0px 80px 0px;
	}
	@media (max-width: 756px) {
		padding: 0;
	}
}

.technology__title {
	margin: 0px 0px 42px 0px;
	text-align: center;
}

.technology__row {
	display: flex;
	margin: 0 -50px;
	@media (max-width: 756px) {
		flex-wrap: wrap;
	}
}
.technology__1 {
	flex: 0 1 50%;
	padding: 0 50px;
	& > *:not(:last-child) {
		margin: 0px 0px 83px 0px;
	}
	@media (max-width: 756px) {
		flex: 0 1 100%;
	}
}
.technology__body {
	@media (max-width: 756px) and (min-width: 576px) {
		display: flex;
	}
}
.technology__img {
	margin: 0px 0px 32px 0px;
	@media (max-width: 756px) and (min-width: 576px) {
		margin: 0px 30px 0px 0px;
	}
}
.technology__label {
	font-weight: 700;
	font-size: 20px;
	line-height: calc(24 / 20 * 100%);
	margin: 0px 0px 12px 0px;
}
.technology__text {
	font-weight: 300;
	font-size: 18px;
	line-height: 110%;
}
.technology__2 {
	flex: 0 1 50%;
	padding: 108px 50px 0 50px;
	& > *:not(:last-child) {
		margin: 0px 0px 88px 0px;
	}
	@media (max-width: 756px) {
		flex: 0 1 100%;
	}
}

// ---------------------------------------------------

.forms {
	padding: 50px 0px 0px 0px;
}
.forms_body {
	border: 8px solid #842231;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 70px 0;
}
.forms__title {
	text-align: center;
	font-weight: 700;
	font-size: 36px;
	line-height: 133%;
	color: #2e363e;
	margin: 0px 0px 12px 0px;
	@media (max-width: 500px) {
		font-size: 22px;
	}
}
.forms__text {
	text-align: center;
	font-size: 21px;
	line-height: 143%;
	letter-spacing: -0.2px;
	color: #2e363e;
	margin: 0px 0px 36px 0px;
	@media (max-width: 500px) {
		font-size: 18px;
	}
}
form {
	text-align: center;
}
.forms__form {
	display: flex;
	justify-content: space-around;
	@media (max-width: 910px) {
		flex-direction: column;
		justify-content: center;
		padding: 0 45px;
		& > *:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
	}
	@media (max-width: 430px) {
		padding: 0 15px;
	}
}

.form__name {
	background: #f2f6fa;
	border-radius: 8px;
	padding: 32px 153px 32px 58px;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 160%;
	color: #7e868e;
	@media (max-width: 1110px) {
		padding: 32px 120px 32px 40px;
	}
	@media (max-width: 992px) {
		padding: 32px 100px 32px 30px;
	}
	@media (max-width: 430px) {
		padding: 24px 0px 24px 30px;
	}
}
.form__tel {
	background: #f2f6fa;
	border-radius: 8px;
	padding: 32px 153px 32px 58px;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 160%;
	color: #7e868e;
	@media (max-width: 1110px) {
		padding: 32px 120px 32px 40px;
	}
	@media (max-width: 992px) {
		padding: 32px 100px 32px 30px;
	}
	@media (max-width: 430px) {
		padding: 24px 0px 24px 30px;
	}
}
.form__btn {
	background: #842231;
	border-radius: 8px;
	padding: 29px 94.5px;
	font-weight: 500;
	font-size: 18px;
	line-height: 152%;
	color: #ffffff;
	@media (max-width: 1110px) {
		padding: 29px 94px;
	}
	@media (max-width: 992px) {
		padding: 29px 75px;
	}
	@media (max-width: 430px) {
		padding: 21px 30px;
	}
}
// ----------------------------------
.pay {
	padding: 131px 0px 61px 0px;
}

.pay__title {
	text-align: center;
	margin: 0px 0px 59px 0px;
}

.pay__body {
	display: flex;
	margin: 0 -16px;
	@media (max-width: 756px) {
		flex-wrap: wrap;
	}
}
.pay__item {
	padding: 0 16px;
	flex: 0 1 25%;
	@media (max-width: 756px) {
		flex: 0 1 50%;
		margin: 0px 0px 30px 0px;
	}
	@media (max-width: 470px) {
		flex: 0 1 100%;
	}
}
.pay__icon {
	text-align: center;
	margin: 0px 0px 10px 0px;
}
.pay__text {
	font-weight: 700;
	font-size: 17px;
	line-height: 110%;
	text-align: center;
}
//---------------------------------

.contacts {
	padding: 61px 0px 100px 0px;
}

.contacts__row {
	display: flex;
	@media (max-width: 700px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.contacts__image {
	margin: 0px 102px 0px 0px;
	@media (max-width: 1120px) {
		margin: 0px 40px 0px 0px;
	}
	@media (max-width: 900px) {
		max-width: 578px;
		img {
			max-width: 100%;
		}
	}
	@media (max-width: 700px) {
		margin: 0 0 30px 0;
	}
}
.contacts__body {
	padding: 55px 0px 0px 0px;
	@media (max-width: 1050px) {
		padding: 10px 0px 0px 0px;
	}
}
.contacts__title {
	font-weight: 700;
	font-size: 48px;
	line-height: calc(58 / 48 * 100%);
	margin: 0px 0px 28px 0px;
}
.contacts__text {
	font-weight: 300;
	font-size: 18px;
	line-height: 110%;
	margin: 0px 0px 20px 0px;
}
.contacts__link {
}
.link {
	display: flex;
	@media (max-width: 1050px) {
		flex-wrap: wrap;
	}
}
.link__body {
}
.link__item {
	display: flex;
	margin: 0px 57px 10px 0px;
}
.link__icon {
	margin: 0px 12px 0px 0px;
	padding: 3px 0px 0px 0px;
}
.link__text {
	font-weight: 300;
	font-size: 18px;
	line-height: calc(22 / 18 * 100%);
}
.link__qr {
}

// -------------------------------
.footer {
	padding: 0px 0px 45px 0px;
}
.footer__container {
	max-width: 720px;
	padding: 0 15px;
	margin: 0 auto;
}
.footer__list {
	display: flex;
	justify-content: space-between;
	@media (max-width: 608px) {
		display: block;
	}
}
.footer__item {
	font-weight: 300;
	font-size: 20px;
	line-height: 110%;
	a {
		color: inherit;
	}
	@media (max-width: 608px) {
		text-align: center;
		font-size: 22px;
		margin: 0px 0px 10px 0px;

		&:last-child {
			margin: 0;
		}
	}
}
